- content_for :meta_title do
  = "#{ t(".title") }"

%br
.container
  .row
    .span12
      .well.paginate-center
        %h2= t(".title")
        .royalSlider.rsDefault
          .sliderItem
            =image_tag "ejemplos/ejemplo1.jpeg", class: "rsImg", alt: "una descripicon cualquiera"
            #block_1_1.rsABlock{ "data" => { "move-effect" => "left", "speed" => "3000", "delay" => "500" }}
              %br
              %br
              %br
              %p.white Tu gestora de <strong>confianza</strong>

          .sliderItem
            =image_tag "ejemplos/ejemplo2.jpeg", class: "rsImg"
            #block_2_1.rsABlock{ "data" => { "move-effect" => "right", "speed" => "3000", "delay" => "500" }}
              %p.white Comprometidos con <strong>tu hogar</strong>


  .row
    .span6
      .well
        %h2= t(".main.title")
        %p= raw t(".main.content")

    .span6
      .well
        = image_tag "oficina.jpeg"

