- content_for :meta_title do
  = "#{ t(".title") }"

%br
.container
  .row
    .span12
      .well.paginate-center
        %h2= t(".title")
        = image_tag "logo.jpeg", id: "home_background"
        #s3slider
          %ul{:id=>"s3sliderContent"}
            %li{:class=>"s3sliderImage", :style=>"display: none; "}
              =image_tag "ejemplos/ejemplo1.jpeg"
            %li{:class=>"s3sliderImage", :style=>"display: none; "}
              =image_tag "ejemplos/ejemplo2.jpeg"

  .row
    .span6
      .well
        %h2= t(".main.title")
        %p= raw t(".main.content")

    .span6
      .well
        = image_tag "oficina.jpeg"

