- content_for :meta_title do
  = "#{ t(".title") }"

%br
.container
  .row
    .span12
      .well.paginate-center
        %h2= t(".title")
        = image_tag "logo.jpeg", id: "home_background", class: "hide"
        .royalSlider.rsDefault
          .sliderItem
            =image_tag "ejemplos/ejemplo1.jpeg", class: "rsImg"
            .rsABlock{ "data" => { "move-effect" => "top" }}
              %p#block_1_1= t(".block1.text1")
            .rsABlock{ "data" => { "move-effect" => "left" }}
              %br
              %br
              %br
              %h1.white Bloque de segundo nivel

          =image_tag "ejemplos/ejemplo2.jpeg", class: "rsImg"

  .row
    .span6
      .well
        %h2= t(".main.title")
        %p= raw t(".main.content")

    .span6
      .well
        = image_tag "oficina.jpeg"

