.container
  .row
    .span6
      .well
        %h2= t(".main.title")
        %p= raw t(".main.content")

    .span6
      .well
        = image_tag "oficina.jpeg"

  .row
    .span6
      .well
        %h2= t(".services.title")
        %p= raw t(".services.content")
