- content_for :meta_title do
  = "#{ t(".title") }"

%br
.container
  .row
    .span12
      .well.paginate-center
        %h2= t(".title")
        .royalSlider.rsDefault
          .sliderItem
            =image_tag "ejemplos/panoramica.jpg", class: "rsImg", alt: "una descripicon cualquiera"
            #block_1_1.rsABlock{ "data" => { "move-effect" => "left", "speed" => "3000", "delay" => "500" }}
              %br
              %br
              %br
              %br
              %br
              %p.white= raw t(".slider.first")

          .sliderItem
            =image_tag "ejemplos/vilagarcia.jpg", class: "rsImg"
            #block_2_1.rsABlock{ "data" => { "move-effect" => "right", "speed" => "3000", "delay" => "500" }}
              %p.white= raw t(".slider.second")


  .row
    .span8
      .well
        %h2= t(".main.title")
        %p= raw t(".main.content")

    = render "customers_manage_community"
