- content_for :title do t(".title") end

- comunity_services_list = ["fact_monthly","at_breakdown","web_access",
"cel_assembly","ad_legal","claim_defaulter","custom_attention",
"ask_subvention","budgets","maintenance"]

- insurances_services_list = ["comunity","home","life","car",
"boat","decennial","house","burial"]

.container
  .row
    .span8
      .well
        %h2= t(".comunity.title_comunity")
        %ul
        -comunity_services_list.each do |service|
          %li= comunity_services_traductor(service)
        %br
        %br
        %br

    .span4
      .well.pagination-centered
        %h2.label.label-important= t(".quote.title").upcase
        %p=  t ".quote.content"
        = link_to t(".quote.submit"),company_contact_path , class: "btn btn-large"
        %hr
        = image_tag "agreement.jpeg"
  .row
    .span12
      .well.clearfix
        .span4
          %h2= t(".insurance.title")
          %ul
          -insurances_services_list.each do |service|
            %li= insurances_services_traductor(service)

        .span7
          %br
          %br
          = image_tag "helvetia.jpeg"
