- content_for :title do t(".title") end

- comunity_services_list = ["com_fact_monthly","com_at_breakdown","comsubmit_form_contact_rep_semiannual_economy",
"com_cel_assembly","com_ad_legal","com_claim_defaulter","com_custom_attention",
"com_ask_subvention","com_budgets","com_maintenance"]

- insurances_services_list = ["ins_comunity","ins_home","ins_life","ins_car",
"ins_boat","ins_decennial","ins_house","ins_burial"]

.container
  .row
    .span9
      .well
        %h1= t(".comunity.title_comunity")
        %ul
        -comunity_services_list.each do |service|
          %li= comunity_services_traductor(service)

    .span3
      .well
        = link_to t(".submit_form_contact"),company_contact_path , class: "btn btn-large"

  .row
    .span4
      .well
        %h1= t(".insurance.title")
        %ul
        -insurances_services_list.each do |service|
          %li= insurances_services_traductor(service)

