%hr.space
.footer
  .container
    .row
      .span4
        %h3= content_with_icon t("footer.address"), "pencil", :white
        %p C/ JUAN GARCÍA 29 - 2º (Plaza del Castro)
        %p VILAGARCÍA DE AROUSA - 36600 PONTEVEDRA
        %p= "<strong>Tfn.</strong>: 986.186.463 <strong>Fax:</strong> 986.189.882".html_safe
      .span4
        %h3= content_with_icon t("footer.email"), "envelope", :white
        %p info@manfercomunidades.com
      .span4
        %h3= content_with_icon t("footer.copyright"), "search", :white
        %p= t("footer.copyright.content")
