.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to image_tag("logo.jpeg", alt: "Manfer Comunidades"), company_home_path, class: "brand"
      .nav-collapse
        = tabs_tag open_tabs: {class: 'nav'}, builder: MenuBuilder do |tab|
          = tab.home company_home_path
          = tab.services company_services_path
          = tab.links company_links_path
          = tab.contact company_contact_path
      = render "languages"
      %p#colegiado_info= t("header.colegiado")

