!!!
%html
  %head
    %title #{yield :meta_title} | Manfer Comunidades

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body{class: "#{controller_path.split("/").join(" ")}"}

    = render 'menu'

    .subbar
      .container
        .row
          .span12= yield :title

    .container
      -#= render 'submenu'
      = yield

    = render 'footer'